* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    gap: 5px;
    border: 2px solid black;
    width: 90vw;
    margin: 0 auto;
}

.dashboard {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #66baee;
    color: white;
    padding: 1.5rem;

}

.dashboard-logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    gap: 10px;
    font-size: 2rem;
}

.dashboard-image {
    width: 1.5em;
    height: 1.5em;
    padding-bottom: 5px;
}

.grid-list {
    list-style-type: none;
    padding: 0;
}

.grid-list li {
    display: grid;
    grid-template-columns: auto 1fr;    
    align-items: center;    
    gap: 10px;    
    margin-bottom: 10px;    
    font-size: 20px;
    font-weight: bold;
}

.grid-list img {
    width: 25px; 
    height: 25px;
}

.grid-list li:hover {
    width: 80%;
    background-color: #0011ff;
}

.header-grid {
    display: grid;
    background-color: #F5F5F5;     
    grid-template-columns: 1fr 3.5fr auto auto 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center; 
    padding: 5px;
    /*height: 25vh;*/

}

.magnify { 
    width: 25px;
    height:25px;     
    margin-left: 20px; 
    grid-column-start: 1;
    grid-column-end: 2;     
}

.search-input {    
    height: 1.5rem;
    width: 100%; 
    border-radius: 10px;
    border: 1px solid black; 
}

.bell {     
    justify-self: right;
    width: 25px;
    height:25px;
}

.greeting {
    font-size: small;
    padding-bottom: 5px;     
}

.contact-info {     
    justify-self: left;             
}

.new {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
}

.upload {
    grid-column-start: 4;
    grid-column-end: 5;
    margin-left: 20px;    
}

.share {
    grid-column-start: 5;
    grid-column-end: 6;
    margin-left: 20px;    
}

img.super-mario-image-1 {
    width: 40px;
    height: 40px;
}

img.super-mario-image-2 {
    width: 50px;
    height: 50px;
}

button.new,
button.upload,
button.share {
    height: 1.3rem;
    width: 5rem;
    background-color: #66baee;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    border: 1px solid #66baee;
}


.main-content {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto;      
}

.main-headings {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects {
    border: 1px solid blue;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr auto auto;
    
}

.super-cool-project{
    border: 1px solid brown;
    grid-column-start: 1;       
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.3fr auto 0.3fr;
    height: 60%;
}

.project-name {
    padding:  0.4rem;
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.description {
    grid-column: 1 / 4;
    grid-row-start: 2;
    
}

img.star {
    width: 25px;
    height: 25px;    
}

img.eye {
    width: 25px;
    height: 25px;
    grid-column: 2;
    grid-row: 3;         
}

img.source-fork {
    width: 25px;
    height: 25px;    
}

.announcements-and-trending {
    border: 1px solid yellow;
    display: grid;
    
}

.announcements {
    border: 1px solid red;
    display: grid;
    grid-template-rows: auto auto auto auto;    
}

.trending {
    border: 1px solid lightgreen;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
}



