/* No reason to use variables in some places in this css. */
/* Just trying it out here */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --small-spacing: 0.25rem;
    --medium-spacing: 0.5rem;    
    --large-spacing: 1rem;
    --extra-large-spacing: 1.5rem; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    /*border: 2px solid black; */
    border-radius: var(--medium);
    margin: 10px;    
    height: auto;    
}

.dashboard {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #66baee;
    color: white;
    padding: 10px;
    margin-right: 10px;;
    border-radius: var(--small);
}

.dashboard-logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    gap: var(--medium);
    font-size: 2rem;
}

.dashboard-image {
    width: 1.5em;
    height: 1.5em;
    padding-bottom: var(--small);
}

.grid-list {
    list-style-type: none;
    padding: 0;
}

.grid-list li {
    display: grid;
    grid-template-columns: auto 1fr;    
    align-items: center;    
    gap: var(--medium-spacing);    
    margin-bottom: 10px;    
    font-size: 20px;    
}

.grid-list img {
    width: 25px; 
    height: 25px;
}

.grid-list li:hover {    
    background-color: #0011ff;
}

.header-grid {
    display: grid;
    background-color: #F5F5F5;     
    grid-template-columns: 0.5fr 3.5fr auto auto 1fr;
    grid-template-rows: auto auto;   
    align-items: center;
    row-gap: 10px;      
    column-gap: 10px;          
}

.magnify { 
    width: 25px;
    height:25px;
    justify-self: right;      
    grid-column: 1 / 2;        
}

.search-input {    
    height: 1.5rem;
    width: 100%; 
    border-radius: var(--large-spacing);
    border: 1px solid black; 
}

.bell { 
    justify-self: center;   
    width: 25px;
    height:25px;
}

.greeting {
    font-size: small;
    padding-bottom: var(--small-spacing);     
}

.contact-info {     
    justify-self: left;             
}

.new {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
}

.upload {
    grid-column-start: 4;
    grid-column-end: 5;      
}

.share {
    grid-column-start: 5;
    grid-column-end: 6;        
}

.new:hover,
.upload:hover,
.share:hover {    
    background-color: #dfbf96;
}

.super-mario-icon {    
    width: 40px;
    height: 40px;       
} 
button.new,
button.upload,
button.share {
    height: 1.3rem;
    width: 5rem;
    background-color: #66baee;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    border: 1px solid #66baee;
}


.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: auto auto auto;     
    gap: 20px;
    background-color: #F5F5F5; 
    border-radius: var(--small);     
}

.projects-title {
    padding: 4px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #F5F5F5; 
    grid-column: 1 / 3;  
    
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr auto auto;
    gap: 20px;
    padding: var(--small-spacing);
}

.project-card {          
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.3fr auto 0.3fr;
    background-color: #ffffff;
    border-radius: var(--medium-spacing);
    box-shadow: -5px 0px 4px burlywood;
    padding: 10px;    
}

.project-name {
    padding:  0.4rem;
    grid-column: 1 / 4;  
}

.description {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 0.75rem;
    padding: var(--small);
}

.icons {
   grid-column: 2 / 4;
    padding: 5px; 
}

.small-icon {
    width:15px;
    height:15px;
}

.medium-icon {
    width:30px;
    height:30px;
}

.announcements-and-trending {
   display: grid; 
   gap: 20px;
   background-color: #f2f2f2;
   padding-right: 10px;   
}

.announcements-title {
    padding: 4px;    
    font-size: 1rem;
    font-weight: bold;
}    
.announcements {
    display: grid;           
    grid-template-rows: auto auto auto auto;   
    font-size: 0.8rem;    
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;                    
}

hr {
    margin-top: 10px;
}

.trending {   
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto auto auto auto;
    row-gap: 5px;
    font-size: 0.75rem;
    padding: 10px;   
    background-color: #ffffff;
    border-radius: 10px;   
}

.trending-title {
    font-weight: bold;
    font-size: 1rem;
    padding: 4px;
}

p.title {
    grid-column: 2;
    grid-row: 2;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}
