* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    gap: 5px;
    border: 2px solid black; 
    padding-right: 5px;   
    margin: 0 auto;
    height: auto;
    width: auto;
}

.dashboard {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #66baee;
    color: white;
    padding: 1.5rem;

}

.dashboard-logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    gap: 10px;
    font-size: 2rem;
}

.dashboard-image {
    width: 1.5em;
    height: 1.5em;
    padding-bottom: 5px;
}

.grid-list {
    list-style-type: none;
    padding: 0;
}

.grid-list li {
    display: grid;
    grid-template-columns: auto 1fr;    
    align-items: center;    
    gap: 10px;    
    margin-bottom: 10px;    
    font-size: 20px;
    font-weight: bold;
}

.grid-list img {
    width: 25px; 
    height: 25px;
}

.grid-list li:hover {
    width: 80%;
    background-color: #0011ff;
}

.header-grid {
    display: grid;
    background-color: #F5F5F5;     
    grid-template-columns: 1fr 3.5fr auto auto 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center; 
    padding: 5px;
}

.magnify { 
    width: 25px;
    height:25px;     
    margin-left: 20px; 
    grid-column-start: 1;
    grid-column-end: 2;     
}

.search-input {    
    height: 1.5rem;
    width: 100%; 
    border-radius: 10px;
    border: 1px solid black; 
}

.bell {     
    justify-self: right;
    width: 25px;
    height:25px;
}

.greeting {
    font-size: small;
    padding-bottom: 5px;     
}

.contact-info {     
    justify-self: left;             
}

.new {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
}

.upload {
    grid-column-start: 4;
    grid-column-end: 5;
    margin-left: 20px;    
}

.share {
    grid-column-start: 5;
    grid-column-end: 6;
    margin-left: 20px;    
}

img.super-mario-image-1 {
    width: 40px;
    height: 40px;
    margin-left: -5px;
}  

img.super-mario-image-2 {
    width: 40px;
    height: 40px;
}

button.new,
button.upload,
button.share {
    height: 1.3rem;
    width: 5rem;
    background-color: #66baee;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    border: 1px solid #66baee;
}


.main-content {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto;     
    background-color: #F5F5F5; 
    border-radius: 5px;
    padding: 10px;     
}

.projects-title {
    padding: 4px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #F5F5F5;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.15fr auto auto;
    gap: 10px;
    padding: 5px;
}

.super-cool-project {
    grid-column-start: 1;       
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.3fr auto 0.3fr;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -5px 0px 4px burlywood;    
}

.project-name-1 {
    padding:  0.4rem;
    grid-column-start: 1;
    grid-column-end: 4;    
}

.description {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 0.75rem;
    padding: 5px;
}

.icons {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 5px; 
}

.less-cool-project {
    grid-column-start: 2;    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.3fr auto 0.3fr;  
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -5px 0px 4px burlywood;   
}

.project-name-2 {
    padding:  0.4rem;
    grid-column-start: 1;
    grid-column-end: 4;    
}

.impossible-app {   
    grid-column-start: 1;    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.3fr auto 0.3fr; 
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -5px 0px 4px burlywood;
}

.project-name-3 {
    padding:  0.4rem;
    grid-column-start: 1;
    grid-column-end: 4;
}

.easy-peasy-app {
    grid-column-start: 2;    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.3fr auto 0.3fr;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -5px 0px 4px burlywood;
}

.project-name-4 {
    padding: 0.4rem;
    grid-column-start: 1;
    grid-column-end: 4;
}

.add-blocker {
    grid-column-start: 1;    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.3fr auto 0.3fr;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -5px 0px 4px burlywood;    
}

.money-maker {
    grid-column-start: 2;    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 0.3fr auto 0.3fr;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -5px 0px 4px burlywood;   
}

.project-name-5 {     
        padding:  0.4rem;
        grid-column-start: 1;
        grid-column-end: 4;    
}

.project-name-6 {
   padding: 0.4rem;
   grid-column-start: 1;
   grid-column-end: 4;   
}

img.star {
    width: 15px;
    height: 15px;                   
}

img.eye {
    width: 15px;
    height: 15px;             
}

img.source-fork {
    width: 15px;
    height: 15px;          
}

img.dog {
    width: 30px;
    height: 30px;          
}

img.man {
    width: 30px;
    height: 30px;          
}

img.butterfly {
    width: 30px;
    height: 30px;          
}

.announcements-and-trending {
   display: grid; 
   background-color: #f2f2f2; 
   padding-left: 10px;
}

.announcements-title {
    padding: 4px;    
    font-size: 1rem;
    font-weight: bold;
}    
.announcements {
    display: grid;           
    grid-template-rows: auto auto auto auto;
    font-size: 0.8rem;    
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;                    
}

hr {
    margin-top: 10px;
}

.trending {   
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto auto;
    row-gap: 5px;
    font-size: 0.75rem;
    padding: 10px;   
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: -10px;
}

.trending-title {
    font-weight: bold;
    font-size: 1rem;
    padding: 4px;
}

p.title {
    grid-column: 2;
    grid-row: 2;
}

.trending-one {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;

}

.trending-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;    
}

div.trending-two {
    grid-row-start: 2;
    grid-row-end: 3;    
}

div.contact-one,
div.contact-two,
div.contact-three,
div.contact-four {
    margin-left: -25px;
}

.trending-three {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}

div.trending-three {
    grid-row-start: 3;
    grid-row-end: 4;    
}

.trending-four {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}

div.trending-four {
    grid-row-start: 4;
    grid-row-end: 5;
}



















